:root {
  /* ------- colours ------- */
  --background-color: #333745ff;
  --primary-color: #c7efcfff;
  --secondary-color: #fe5f55ff;
  --secondary-color-light: #f79b95;
  --teriary-color: #d8d8dd;

  /* palette at https://coolors.co/333745-e63462-fe5f55-c7efcf-eef5db */

  /* ------- fonts ------- */
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Barrio", sans-serif;
  /* --------------------- */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0a0a0a;
    --primary-color: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary-color);
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
